<div class="container allRestaurants">
  <div>
    <mat-card style="text-align: center;">
      <h2 style="text-align: center;">Update Restaurant Old Details Here !!</h2>

    <div>
      <mat-form-field appearance="outline" class="form-elements">
        <mat-label>Order Food</mat-label>
        <input matInput placeholder=" Order  ..!" [(ngModel)]="restaurantRecords.order">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="form-elements">
        <mat-label>numOfpiece</mat-label>
        <input matInput placeholder="shaimaa" [(ngModel)]="restaurantRecords.numOfpiece">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="form-elements">
        <mat-label>Your Phone</mat-label>
        <input matInput placeholder="abc@gmail.com" [(ngModel)]="restaurantRecords.phone">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="form-elements">
        <mat-label>Your Location</mat-label>
        <input matInput placeholder="cairo" [(ngModel)]="restaurantRecords.location">
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button class="bc-home" type="button" (click)="updateRecords()">Update Records</button>
    </div>
    </mat-card>

  </div>
  </div>
