
<p>
  <mat-toolbar class="bc-home">
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Restaurent</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>
</p>















 <router-outlet></router-outlet>

<!-- Project Details  -->
<!--

  1- Install Angular Cli using npm i -g @angular/cli
  2- create new project using ng new project name
  3- cd into the folder and run ng serve to start server.
  4- run project using 'ng s -o' open browser at http://localhost:4200/.
  5- after run project add angular material ng add @angular/material
  6- import css file in app module
  7- Now, add Navbar Using Material Components
  8- Add Dummay Data using Json - server (npm i json-server)
  9- Check Api Link In Browser http://localhost:3000/
  10- Now Create Components Using ng g c component name
  11- Import Component To Router Module
  12- Run Server Again
  13 - Create Service File Using ng g s servicname
  14 - Inject HttpModule And HttpClientModule
  15 - Before writing Get,Post, put etc, you should add HttpClientModule in App.module.ts
  16 - After that write your code
  17 - Now generate interface using ng g i interface name
  18 - Use this Interface for data return from api
  19 - get all resturant recordes using get() Methods
  20 - Design Dashboard using material
  21 - Now, Subscribe Data from Service File
  22 - Now it's time to add "Add restaurant recods"
  23 - Final Design Form Using Card
  24 - Now Add functionlity of Add Records Form
  25 - Now we need to save records on click of submit button
  26 - [(ngModel)] Require to import FormsModule in App.module.ts file
  27 - Create Edit Component
  28 - Now Going to implement Update
  29 - Delete Functionality
 -->
